:root {
  font-size: 62.5%; /*Setting root font size to 10px (62.5% of 16px) for easier manipulation elsewhere*/
  --light-main: #eee;
  --blue-main: #1d0964;
  --blue-secondary: #1b1630;
  font-family: Calibri, Verdana, sans-serif;
}

.header h1 {
  background-image: linear-gradient(
    to right,
    var(--blue-main),
    var(--blue-secondary)
  );
  color: var(--light-main);
}
.btn {
  width: 100%;
  font-size: 1.5rem;
  background-color: var(--blue-main);
  color: var(--light-main);
  padding: 0.5rem 0rem;
  margin: 0.5rem 0rem;
  border-radius: 1rem;
}

h1 {
  margin: 0rem;
  padding: 0.75rem 2.5rem;
  font-size: 3rem;
}

body {
  font-size: 2rem;
}

.city-input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
}

.sidenav {
  height: 100%;
  border-bottom: .2rem solid var(--blue-secondary);
}

.weather-box {
  padding: 0;
}

#current-city {
  font-size: 2.5rem;
}

.container-fluid{
  margin: 5rem 0rem 0rem 0rem;

}

#days {
  border: 0.25rem var(--blue-main) solid;
  background-color: var(--blue-main);
  border-radius: 1rem;
  color: var(--light-main);
  padding: .5rem 0rem
}

.forecast {
  border: 0.25rem var(--blue-main) solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 1.25rem;
}

.five-day {
  border: 0.25rem var(--blue-main) solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 1.5rem;
  font-size: 1.8rem;
}

.five-day-header {
  display: flex;
  justify-content: center;
}

.icon-img{
  padding: 0rem;
}